body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
body .mantainance .warning {
    font-size: 4rem;
    color: #d30808;
}
body .mantainance .redirectToMe {
    font-size: 2.5rem;
    color: white;
}
body .mantainance .facebook {
    background-color: #4267b2;
    color: black;
    text-decoration: unset;
    font-size: 2rem;
    padding: 10px;
}
body .mantainance .linkedIn {
    font-size: 2rem;
    background-color: #0077b5;
    color: white;
    text-decoration: unset;
    padding: 10px;
    margin-left: 10px;
}
