.hero {
  .hero-image {
    &:before {
      content: "";
      position: absolute;
      inset: -8px;
      @media (max-width: 768px) {
        inset: 0;
      }
      padding: 10px;
      border-radius: 50%;
      background-color: #222;
      border: 2px solid #333;
      background: conic-gradient(#ff53bb,
          #0000 30deg 120deg,
          #00f8d3 150deg 180deg,
          #0000 210deg 300deg,
          #ff53bb 330deg);
      mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: intersect
    }

    &:after {
      content: "";
      position: absolute;
      inset: -7.208vw;
      background: radial-gradient(12.417vw at left 24.833vw top 9.813vw, #ff53bb 100%, rgba(0, 0, 0, 0)), radial-gradient(12.417vw at right 24.833vw bottom 9.813vw, #00f8d3 100%, rgba(0, 0, 0, 0));
      filter: blur(7.25vw);
      opacity: 0.5;
      @media (max-width: 768px) {
        inset: 0;
        background: radial-gradient(21.417vw at left 30.833vw top 18.813vw, #ff53bb 100%, rgba(0, 0, 0, 0)), radial-gradient(21.417vw at right 30.833vw bottom 18.813vw, #00f8d3 100%, rgba(0, 0, 0, 0));
        filter: blur(7.25vw);
        opacity: 1;
      }
    }

    &:before,
    &:after {
      transition: .5s, 99999s 99999s transform;
    }

    &:hover:before,
    &:hover:after {
      transform: rotate(36000deg);
      transition: .5s, 600s linear transform;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      border: 8px solid #fff;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1;
    }
  }
}